<div>
<H1> American Pit Bull Terrier Dog breed</H1>
<p> Pit bull is a term used in the United States for a type of dog descended from bulldogs and terriers, while in other countries such as the United Kingdom the term is used as an abbreviation of the American Pit Bull Terrier breed.
     The term was first used in 1927. Within the United States the pit bull is usually considered a heterogeneous grouping that includes the breeds American Pit Bull Terrier, American Staffordshire Terrier, American Bully, Staffordshire Bull Terrier and occasionally the American Bulldog, along with any crossbred dog that shares certain physical characteristics with these breeds. In other countries including Britain, the Staffordshire Bull Terrier is not considered a pit bull.
 Most pit bull-type dogs descend from the British Bull and terrier, a 19th-century dog-fighting type developed from crosses between the Old English Bulldog and the Old English Terrier </p>

<p>Bull-type dogs have a controversial reputation as pets both in the United States and internationally, due to their history in dog fighting,[9] the number of high-profile attacks documented in the media over decades, and their proclivity to latching on while biting. Proponents of the breed and advocates of regulation have engaged in a nature-versus-nurture debate over whether apparent aggressive tendencies in pit bulls may be appropriately attributed to owners' care for the dog or inherent qualities.
 Numerous advocacy organizations have sprung up in defense of the pit bull. Some studies have argued that the type is not disproportionately dangerous, offering competing interpretations on dog bite statistics. Independent organizations have published statistics based on hospital records showing pit bulls are responsible for more than half of dog bite incidents among all breeds despite comprising 6% of pet dogs.
 Some insurance companies will not cover pit bulls (along with rottweilers and wolf hybrids) because these particular breeds cause a disproportionate rate of bite incidents.[13] Dog bite severity varies by the breed of dog, and studies have found that pit bull-type dogs have both the highest risk of biting and a tendency to produce the most severe injuries. </p>

<p>Pit bull-type dogs are extensively used in the United States for dogfighting, a practice that has continued despite being outlawed.
A number of nations and jurisdictions restrict the ownership of pit bull-type dogs through breed-specific legislation.
A pro-pit bull lobby exists that spends millions of dollars a year promoting pit bulls as family pets, funding pro-pit bull researchers, and opposing laws that regulate their ownership.</p>


</div>


<a href="http://localhost:3000/">Home</a>
<a href="http://localhost:3000/">Works</a>